body {}

.main {
  background: rgb(27, 113, 181);
  background: radial-gradient(circle, rgba(27, 113, 181, 1) 35%, rgba(46, 73, 144, 1) 100%);
  height: 100vh;
  display: grid;
  grid-template-columns: 1% 10% 10% 1fr 1fr 10% 10% 1%;
  grid-template-rows: 10% 1fr;
  /*LINEA QUE SE PODRIA BORRAR*/

  grid-template-areas:
    /* "image image area area area area"
    "iniciar cita area caro caro caro"; */
    "image image area nav nav cita iniciar area9"
    "intro intro intro intro caro caro caro caro";
  grid-gap: 10px;
  justify-content: center;

  justify-items: center;

}

a {
  text-decoration: none;
}

.caro {
  grid-area: caro;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end; /* Alinea a la derecha */
  align-items: flex-end; /* Alinea abajo */
  min-width: 300px; /* Añade un ancho mínimo */
  min-height: 300px; /* Añade una altura mínima */
  overflow: visible; /* Asegura que el contenido no se oculte */
  position: relative; /* Para mantener el posicionamiento absoluto de los hijos */
}

.image {
  /* AQUI ESTA EL LOGO / #1 */
  height: 60px;
  width: 60px;
  border-radius: 100%;
  cursor: pointer;

  border: 4px solid rgba(46, 73, 144, 1);
  transition: 1s;
}
.image:hover {
  scale: 1.2;
}

.imageDiv {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonLanding1 {
  height: 50px;
  color: white;
  font-weight: 500;
  background: linear-gradient(to left, #2E4990, #3188CC);
  border: none;
  border-radius: 8px;
  font-size: 1.3vw;
  padding: 7px 15px;
  transition: 0.5s;

}
.buttonLanding1:hover{
  scale: 1.1;
  color: white;
}


.buttonLanding2 {
  height: 50px;

  font-weight: 500;
  margin-left: 6px;
  color: white;
  background: linear-gradient(to left, #FB7A09, #FFB500);
  border: none;
  border-radius: 8px;
  font-size: 1.3vw;
  padding: 7px 15px;
  transition: 0.3s;
}

.buttonLanding2:hover{
  scale: 1.1;
  color: white;
}




.buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: iniciar;
  width: 100%;
}

.buttom2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: cita;
  width: 100%;
}

.navbarLanding {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  grid-area: nav;
}

.navbarLanding a {
  position: relative;
  font-size: 24px;
  color: white;
  font-weight: 600;
}

.navbarLanding a {
  position: relative;
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin-left: 40px;
}


.navbarLanding a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: .3s;
}

.navbarLanding a:hover::before {
  width: 100%;
}



.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  grid-area: intro;
  justify-content: center;
  align-items: center;
  padding: 0 0;
}

.title {
  font-size: 53px;
  font-weight: 700;
  color: white;
  text-align: center;

}

.bodyText {
  font-size: 20px;
  font-weight: 200;
  color: white;
  margin:20px;
  text-align: justify;
}

@media only screen and (max-width:850px) {
  .caro {
    width: 100%;
    height: 100%;
    margin: auto; /* Centra el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 400px; /* Altura mínima para el contenedor */
    transform: scale(0.8); /* Reduce el tamaño pero mantiene visible */
    transform-origin: center center;
  } 

  .main {
    display: grid;
    height: 100%;
    min-height: 100vh; /* Asegura altura mínima */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "image nav nav nav"
       "intro intro intro intro"
      "caro caro caro caro"
     
      "iniciar iniciar cita cita";
    gap: 10px;
  }
  
  .column > .buttom2{
    display: none;
  }
  .buttonLanding1, .buttonLanding2{
    font-size: 2.5vw;
  }

}

@media only screen and (max-width: 600px) {
  .caro {
    transform: scale(0.6);
  }
}