.check {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 100px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.check input[type="checkbox"] {
    display: none;
}

.dayContainer {
    display: flex;
    gap: 10px; /* Optional: Adds space between the divs */
}

.horario {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between the elements */
    align-items: flex;
    margin-bottom: 20px; /* Adds space between different days */
}

.horario label {
    font-weight: bold;
}

.horario input {
    margin-left: 10px;
}

.horariosDiv {
    margin-top: 20px;
}

.horario div {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between the labels and inputs */
}
    .form{
    display: flex;
    flex-direction: column;
}
.doctor-info {
    display: flex;
    gap: 10px; /* Espacio entre los elementos */
    align-items: center;
}
.modal-content {
    max-height: 80vh; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto;
}