.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}
.container1{
    background-color: blueviolet;
    grid-column: 2;
    grid-row: 1;
    
}
.container2{
    background-color: brown;
    grid-column: 2;
    grid-row: 1;


}
.container3{
    background-color: burlywood;
    grid-column: 2;
    grid-row: 1;


}
.fade {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .fade.show {
    opacity: 1;
  }