.headerTable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headerTable .btn-success {
    margin-left: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */

}
.tableTitle {
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.MuiTable-root {
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.modal-title {
    text-align: center;
    margin-top: -12px; /* Ajusta este valor según sea necesario */
    margin-bottom: 12px
}
