.mainLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    gap: 10px;
    
}

.register{
    background-color: transparent;
    border: none;
    color: rgb(13, 0, 255);
}